.logo-home {
	position: relative;
	top:-70px;
	.transition(top, .25s);
	&.activado {
		top:0;
	}
}
#banner-brand {
	margin-top:-18px;
	text-align:center;
	h1 {
		display:none;
		color:white;
		font-weight:normal;
		font-family:klavikalight;
		text-transform: uppercase;
		font-size:38px;
		margin-top:5px;
		@media(max-width:@screen-xs-max-width){
			font-size: 23px;
			margin-top: 5px;
			padding: 10px 27px;
		}
		@media(max-width:534px){
			display:inherit;
			font-size: 17px;
			margin-top: 25px;
			span {
				display:inline-block;
			}
		}
		span {
			font-family:klavikabold;
		}
	}
	h2 {
		color:white;
		font-size: 21px;
		font-family: klavika !important;
		text-transform: uppercase;
		font-weight:lighter;
	}
	#top-banner {
		background-color:rgba(red(@azul),green(@azul),blue(@azul),.8);
		width:100%;
		height:221px;
		padding:53px 0;
		overflow:hidden;
		&.noticias-blog {
			height:147px;
		}
		#marcas {
			display:inline-block;
			a {
				width: 279px;
				position: relative;
				top: 5px;
				&.float-left {
					display: inline-block;
					.transition(margin-top,.4s);
					&.entrada {
						margin-top:200px;
					}
				}
				&.float-right {
					// width: 334px;
					// margin-top: 9px;
				}
				@media(max-width: @screen-xs-max-width){
					width: 32%;
					margin: 0 6%;
				}
			}
		}
	}
	#bottom-banner {
		background-color:rgba(red(@amarillo),green(@amarillo),blue(@amarillo),.8);
		width:100%;
		height:135px;
		padding:33px 0;
		@media(max-width: @screen-xs-max-width){
			display:none!important;
		}
		h4 {
			color:@azul;
			text-transform: uppercase;
			font-family: klavikabold;
			font-weight: normal;
			font-size: 16px;
			margin-top:19px;
			position: relative;
			z-index:2;
			span {
				font-family:klavika;
			}
		}
		.cuatro {
			text-align:center;
			padding-top:36px;
			margin-top:-36px;
			.border-radius(5px);
			overflow:hidden;
			background-color:rgba(0,0,0,0);
			.transition(background-color,.15s);
			@media(max-width: @screen-xs-max-width){
				display:inline-block;
				width: 49% !important;
				vertical-align: top;
				padding:24px;
				h4 {
					font-size:14px;
					margin:0;
				}
				.icono {
					display:none!important;
				}
			}

			/*
.fondo {
				width:100%;
				height:100%;
				
				position:absolute;
				top:0;
				left:0;
				.opacity(0);
				.transition(opacity,.15s);
				
			}
*/
			&:hover {
				background-color:rgba(red(darken(@amarillo,20%)),green(darken(@amarillo,20%)),blue(darken(@amarillo,20%)),.3);
				/*
.fondo {
					.opacity(.4);
					
				}
*/
			}
		}
		.icono {
			background-image:url('@{url}images/iconos.png');
			height:31px;
			width:31.5px;
			display:inline-block;
			position: relative;
			z-index:2;
			background-size:212px;
			&.iuno {
				width:31.5px;
			}
			&.itres{
				background-position:35px 0;
				width:35px;
			}
			&.idos{
				background-position:160px 0;
				width:40.5px;
			}
			&.icuatro{
				background-position:298.5px 0;
				width:26.5px;
			}
		}
	}
}

