.btn,#searchsubmit {
	/* Defaults */
	background-color: @azul;
	display: inline-block!important;
	height: auto!important;
	padding: 12px 22px!important;
	line-height: inherit!important;
	.border-radius(3px);
	font-size: 13px!important;
	font-family: klavika!important;
	text-transform:uppercase;
	.transition(background-color,.2s);
	.transition(border-radius,.2s);
	&:hover {
		.border-radius(20px);
		background-color:@azul-claro;
	}
	&.btn-small {
		
	}
	&.btn-normal {
		
	}
	&.btn-big {
		
	}
	&.btn-azul-claro {
		background-color:@azul-claro;
		&:hover {
			background-color:@azul;
		}
	}
	
}