li.widget_cro_twitter {
	p, span a {
		color:white!important;
		margin:0 0 10px!important;
		font-family:montserrat;
		line-height:1.6;
	}
	.followlabel {
		margin-top:15px!important;
		color:white!important;
		font-family:klavikabold!important;
		font-size:16px!important;
	}
}