li.widget_cro_twitter {
	p, span a {
		color:white!important;
		margin:0 0 10px!important;
		font-family:@font-body;
		line-height:1.6;
	}
	.followlabel {
		margin-top:15px!important;
		color:white!important;
		font-family:klavikabold!important;
		font-size:16px!important;
	}
}

.cro_fpc {
	border:0px;
	h3 {
		.opacity(1)!important;
		text-transform: uppercase;
		font-family: klavikabold!important;
		font-size: 17px!important;
		padding: 20px 5px!important;
		z-index:3!important;
	}
	&:hover {
		h3 a {
			color:@amarillo!important;
		}
	}
}

.welcomemsg {
	h3 {
		margin-bottom: 10px;
		font-size: 16px;
		font-family: klavikabold;
		font-weight: normal!important;
		text-transform: uppercase;
	}
	p {
		color:@gris;
	}
	a {
		font-family:@font-body!important;
	}
}

.singlep a {
	font-family: @font-body;
	text-transform: capitalize;
	font-size: 13px!Important;
	line-height: 1.45;
	letter-spacing: normal;
	margin-bottom: 5px;
}

.widget_tli-latestnews p {
	font-size: 12px;
	margin-bottom: 0px;
	font-family: @font-body;
	font-style: italic;
	line-height: 1.4;
}

.widget_cro_twitter {
	border:0px!important;
}

.cro_eventswidgetout{
	font-family:@font-body!important;
	span.cro_thetime {
		font-family:@font-body!important;
	}

.cro_caldayholder {
span.month {
	margin-top: 34px;
	background-color: transparent;
	font-family: klavika!important;
	font-size: 15px;
}
span.day {
margin-top: -55px;
position: relative;
font-family: klavikabold!important;
font-size: 33px;
}
}
}

ul.mainwidget h3.widget-title{
	text-transform: uppercase;
	font-family: klavika;
	font-size:16px;
}

.fbcontentinner .fitfeedb_title {
	font-family:klavika;
	text-transform: uppercase;
}
