/* Top menú */

#mainmen {
	background-color:white;
	height:65px;
	.box-shadow(none);
	@media(max-width:@screen-xs-max-width){
		display:none;
	}
}


/* Logo */

.topper img.tllogo {
	width: 120px;
	margin-top: 7px;
}

.logoresponsive {
	background-image:none;
	background-color:white;
	text-align:left;
	padding:13px 21px;
	img {
		width:95px;
	}
}

/* Top-left-menu */

#left-menu {
	margin-left: 227px;
	margin-top: 5px;
	display:inline-block;
	ul {
		li {
			list-style: none;
			float:left;
			a {
				text-transform: uppercase;
				font-family: klavika;
				font-size: 14px;
				color: #606060;
				margin-right:20px;
				.transition(color,.2s);
				&:hover {
					color:@azul;
/*
					border-bottom:1px dotted rgba(red(@azul),green(@azul),blue(@azul),.3);
					border-top:1px dotted rgba(red(@azul),green(@azul),blue(@azul),.3);
*/
					padding-bottom:5px;
					padding-top:5px;
					margin-top:-5px;
				}
			}
		}
	}
	.selectnav {
		position: absolute;
		top: -73px;
		right: 16px;
		width: 94px;
	}
}


#access {
	margin-top:13px;
	@media(max-width:@screen-xs-max-width){
		display:none;
	}
	> div {
		float:left;
	}
	.sociallinks {
		li {
			.border-radius(3px);
			.transition(border-radius,.2s);
			overflow:hidden;
			background-color:@azul;
			&:hover {
				.border-radius(20px);
				background-color:@azul;
			}
			a {
				padding-left:2px;
			}
			&#twitter {
				background-color:@azul-claro;
				a {
					background-color:@azul-claro;
				}
				&:hover {
					background-color:@azul-claro;
				}
			}
		}
	}
}

#adaptative {
	position: absolute;
	right:20px;
	top:27px;
	span {
		font-family:klavikabold;
		text-transform: uppercase;
		font-size:16px;
		color:lighten(@gris,20%)!important;
		cursor:pointer;
		&:hover {
			color:darken(@gris,10%)!important;
		}
	}
	.dropdown {
		li a {
			font-family:montserrat;
		}
		left: inherit!important;
		top: 32px!important;
		right: -15px!important;
		&.dropdown-tip:before {
			left:inherit!important;
			right:29px!important;
		}
		&.dropdown-tip:after {
			left:inherit!important;
			right:30px!important;
		}
	}
}