
.blog {
  #banner-brand {
    display:none;
  }
  h2 a {
    font-family: klavika;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    position: relative;
    top: 10px;
    color:@azul;
  }
  p {
    font-family:montserrat!important;
    font-size:13px;
  }
  .post {
    padding:27px 28px 53px!important;
  }
  .summarymeta {
    width: 100%;
    position: absolute;
    left: 0px;
    font-family:klavika!important;
    .cro_readmorea {
      font-family: klavika;
    }
  }
}